<h1>Please enter your email and the Assembly name</h1>

<%= form_tag reports_thank_you_path, multipart: true do %>
  <%= text_field_tag 'email', nil, placeholder: 'Email' %></br></br>
  <%= text_field_tag 'assembly_name', nil, placeholder: 'Assembly Name' %></br></br>
  <%= submit_tag 'Submit' %>
<% end %>
